body {
background-color: lightskyblue;
}

h1 {
    color: aliceblue;
    background-color: rgb(135, 119, 153);
    animation-duration: 6s;
    animation-name: slidein;
    overflow: hidden;
}

@keyframes slidein {
    from {
        margin-left: 100%;
        width: 100%;
    }
}

nav {
    text-align: center;
    margin-left: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 30px;
}

img {
    padding: 20px;
    border-radius: 90px;
    margin-inline: 900px;

}

h2 {

    margin-left: 10px;
    text-align: center;
    font-style: oblique;
}

h3{
    color: rgba(237, 255, 196, 0.959);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-stretch: expanded;
    text-indent: 100px;
    margin-left: 400px;

}

p {
    text-align: center;
    color: rgba(237, 255, 196, 0.959);
    font-size: larger;
    font-family: Arial, Helvetica, sans-serif;
}

.image-class {
    width: 24.5%; 
    height:auto
    
}    

